#menu {
	position: absolute;
	left: 8px;
	top: 2px;
	width: 600px;
	height: 25px;
	background-color: #E5E5E5;
}

#dataMenu {
	position: absolute;
	left: 50px;
	top: 1px;
	width: 100px;
	height: 30;
}

#schemeMenu {
	position: absolute;
	left: 176px;
	top: 1px;
	width: 100px;
	height: 30;
}

#check1 {
	position: absolute;
	left: 300px;
	top: 1px;
	width: 150px;
	height: 30;
	font-size:20px;
}

#check2 {
	position: absolute;
	left: 450px;
	top: 1px;
	width: 150px;
	height: 30;
	font-size:20px;
}