
#chart_container {
	position: absolute;
	width: 600px;
	height: 175px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
#chart {
	margin-top: 5px;
	float: left;
}

/* #timeLegend {
	position: absolute;
	/*left: 535px;*/
	left: 0px;
	top: 0px;
	right: 0px;
	height: 15px;
	background-color: transparent;
	color: black;
} */


#offset_form {
	float: left;
	margin: 2em 0 0 15px;
	font-size: 13px;
}
#y_axis {
	float: left;
	width: 50px;
	/*height: 10px*/
}
#y_axis1 {
	float: right;
	width: 50px;
	/*height: 10px*/
}
#x_axis{
	position: absolute;
	top: 165px;
	left: 50px;
	height: 50px;
	font-size: 5px;
}

#startTime{
	position : absolute;
	top : 168px;
	left : 20px;
	width : 55px;
	height : 15px;
	color : red;
	background-color : white;
}
#endTime{
	position : absolute;
	top : 168px;
	left : 525px;
	width : 55px;
	height : 15px;
	color : green;
	background-color : white;
}